.side-titles{
    padding: 30px;
    background-color: rgb(236, 236, 236);
    height: max-content;
    h1{
      color: rgb(195, 212, 52);
      font-weight: bold;
    }
    p{
      color: black;
    }
    h2{
      color: rgb(195, 212, 52);
      font-size: 30px;
      font-weight: bold;
    }
    h3{
      color: rgb(65, 65, 65);
      font-size: 20px;
      font-weight: bold;
    }
    p{
      margin-bottom: 30px;
    }
    #side-description{
      &:hover{
        color: rgb(195, 212, 52);
      }
    }
    a{
      text-decoration: none;
      color: black;
    }
}

#side-titles{
  #title-titles{
    margin-top: 40px;
    padding-left: 10px;
  }
  #etiqueta{
    position: absolute;
    left: 0;
    height: 20px;
    width: 130px;
    background-color: black;
    display: flex;
    justify-content: end;
    span{
      color: white;
      font-size: 12px;
      padding-right: 10px;
    }
  }
}